/.idea/.idea.PiZero2W/.idea/deployment.xml
/.idea/.idea.PiZero2W/.idea/encodings.xml
/.idea/.idea.PiZero2W/.idea/indexLayout.xml
/.idea/.idea.PiZero2W/.idea/misc.xml
/PiZero2W.sln.DotSettings
/PiZero2W.sln.DotSettings.user
/.idea/.idea.PiZero2W/.idea/riderPublish.xml
/.idea/.idea.PiZero2W/.idea/sshConfigs.xml
/.idea/.idea.PiZero2W/.idea/vcs.xml
/.idea/.idea.PiZero2W/.idea/webServers.xml
